
   <div id="footer" class="container-fluid">
    <h2>Delivered World Wide</h2>
    <p>Free domestic Shipping for all Orders shipped within India</p>
    <p>Promoting Fair Trade in support of </p>
    <p>LOCAL FOR VOCAL</p>
</div>

    <!-- Grid container -->
    <div class="find">
    <div class="container-fluid">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-4">
          <h4 class="text-uppercase">Find Us</h4>
  
          <p>
            If you need any other special assistance - please give us a call!
        </p>
        <p><i class="glyphicon glyphicon-send"style="font-size:20px;"></i> Sector No. 29, Behind Akurdi Railway Station,, Pradhikaran Nigdi, Akurdi, Pune 411044, Pune, Maharashtra 411044 </p>
<p><i class=" 	glyphicon glyphicon-phone-alt"style="font-size:20px;"></i>  +91-9999878398  </p>
<p><i class="glyphicon glyphicon-envelope"style="font-size:20px;"></i> handcraft@example.com  </p>

        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4">
          <h4 class="text-uppercase">Support And Follow us</h4>
  
          <ul class="list-unstyled mb-0">
            <li>
              <i class="fa fa-facebook-square" style="font-size:25px;"></i>
            </li>
            <li>
              <i class="fa fa-instagram" style="font-size:25px;"></i>
            </li>
            <li>
              <i class="fa fa-twitter" style="font-size:25px;"></i>
            </li>
            <li>
              <i class="fa fa-linkedin-square" style="font-size:25px;"></i>
            </li>
            <li>
              <i class="fa fa-pinterest" style="font-size:25px;"></i>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4">
          <h4 class="text-uppercase mb-0">Quick Links</h4>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Home</a>
            </li>
            <li>
              <a href="#!" class="text-dark">About</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Services</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Pricing</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Terms Condition</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    </div>
    <!-- Grid container -->
<div id="copy" class="container-fluid">
    <h4>&copy; 2020 Handcraftmarket.com</h4>
</div>