<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Handcraft Market</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/user-panel" class="nav-link"><span ></span> Dashboard</a></li>
           <li><a routerLink="/gallery" class="nav-link">Gallery</a></li>
      <li ><a routerLink="/order" class="nav-link">My Orders</a></li>
      <li><a routerLink="/cart" class="nav-link">Cart
        <i class="fas fa fa-shopping-cart fa-lg"></i>
        <span class="cart-basket d-flex align-items-center justify-content-center">
          {{cartCount}}
        </span>
      </a>
      </li>
      <li><a routerLink="/user-sale" class="nav-link">Offers</a></li>
      <li><a routerLink="/login" class="nav-link">Logout</a></li>
  
        </ul>
    </div>
</nav>

<div class="jumbotron jumbotron-fluid" style="background-color: blanchedalmond;">
    <div class="container">
      <h2 class="display-4">Welcome User</h2>
      <p class="lead"> THE INDIA CRAFT HOUSE
        WELCOMES YOU TO THE WORLD OF THE INDIAN ARTISAN</p>
    </div>
  </div>

  <div class="row" style="margin-bottom: 10px; margin-top: 20px;">
    <div class="col-md-3">
        <img src="assets/images/Paithani_mh.jpg" style="width: 100%; height: 200px " alt="">
        <h3>Maharashtra</h3>
        <p>Elegant Beauty</p>
    </div>
    <div class="col-md-3">
      <img src="assets/images/puppets_of_rajasthan.jpg" style="width: 100%; height: 200px " alt="">
      <h3>Rajastan</h3>
      <p>Kathputli's Show</p>
    </div>
    <div class="col-md-3">
      <img src="assets/images/kitly.jpg" style="width: 100%;  height: 200px" alt="">
      <h3>Bengal</h3>
      <p>Tea kettle</p>
    </div>
    <div class="col-md-3">
      <img src="assets/images/coconutshell_keral.jpg" style="width: 100%; height: 200px " alt="">
      <h3>Keral</h3>
      <p>Coco shell Villa</p>
    </div>
  </div>