<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/home">Handcraft Market</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home" class="nav-link"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="/aboutus"><span class="glyphicon glyphicon-pencil"></span> AboutUs</a></li>
          <li  class="active"><a href="/contactus"><span class="glyphicon glyphicon-envelope"></span> ContactUs</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
      </ul>
  </div>
</nav>

<div id="first-container" class="container">
    <h2 class="display-4">LET'S CHOOSE TO<br>
      MAKE A DIFFERENCE<br>
      TOGETHER </h2>
</div>

<div id="second-container" class="container-fluid">
  <p>If you are an artisan,<br>
     or an NGO supporting handcrafted produce,<br>
      an organisation employing artisans<br>
       to create craft based items <br>
        or an enterprise promoting a cause<br>
         you believe in we would love to have you become a part of our world!</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/images/woman-weaving.jpg" alt="Jane" style="width:100%">
      <div id="third-container" class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me </p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img class="rounded-circle" src="/assets/images/woman-weaving.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="/assets/images/woman-weaving.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
   </div>
  </div>

