.container{
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("/assets/images/handicraft.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: auto;

}

img{
    margin-top: 5px;
    margin-bottom: 5px;
}