.Box{
    background-color: snow;
    width: 800px;
    align-items: center;
  border: 15px outset green;
  text-align: center;
  padding: 50px;
  margin-left: 15%;
  
}
.cart-basket {
  
  position: absolute;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color:blue;
  border-radius: 50%;
}