<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/home">Handcraft Market</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home" class="nav-link"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li  class="active"><a href="/aboutus"><span class="glyphicon glyphicon-pencil"></span> AboutUs</a></li>
          <li><a href="/contactus"><span class="glyphicon glyphicon-envelope"></span> ContactUs</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
      </ul>
  </div>
</nav>

    <div class="container-fluid" >
      <h1 class="display-4" style="text-align: center;"> Celebrating An Unparallele Heritage</h1>
    </div>

    <div class="container">
      <img src="assets\images\woman-weaving.jpg" alt="Nature" style="width:100%;">
      <div class="text-block">
        <h2>Driven By a Belief</h2>
        <p>We hope to be able to raise the dignity of the Indian artisan in our own </p>
        <p>small way. It is our effort to offer an undeniably unique selection of</p> 
          <p>traditional art and craft translated into a range of attractive contemporary</p> 
          <p>products, while ensuring a fair price for every single artisan whose creations</p>
          <p> have been featured on this portal, while bringing it closer to people across</p><p> 
            <p>the world. We endeavour to support our artisans not just by promoting</p>
            <p> what they make, but also by helping them with ideas and designs to</p>
            <p> innovate and create relevant craft products that appeal to changing tastes</p>
            <p> and modern preferences, to help them find wider markets.</p>
      </div>
    </div>
    <div class="container">
      <img src="assets\images\pottery.jpg" alt="Nature" style="width:100%;">
      <div class="text-block-white">
        <h2> Design,<br> curation &<br>
          creation of<br>
          contemporary craft</h2>
        <p>We actively undertake design and development</p> 
          <p>of customised craft orders, working closely in</p>
           <p> with customers to understand, design and</p> 
          <p> develop exclusive and classic craft-based solutions.</p>
          <p>The Handcraft Craft essentially seeks to contribute </p>
          <p> to preserving and promoting the unparalleled </p>
          <p>artistic and cultural legacy inherited by</p>
           <p>every citizen of this amazing land.</p>
          
      </div>
    </div>

    <div id="copy" class="container-fluid">
      <h1>Encourage Fair Trade</h1>
  </div>
       
