
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/home">Handcraft Market</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/home" class="nav-link"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li><a href="/aboutus"><span class="glyphicon glyphicon-pencil"></span> AboutUs</a></li>
          <li><a href="/contactus"><span class="glyphicon glyphicon-envelope"></span> ContactUs</a></li>
          <li class="active"><a href="/login"><span class="glyphicon glyphicon-user"></span> Login </a></li>
      </ul>
  </div>
</nav>

<div class="login-form">

  <form>
    <div class="text-danger">{{msg}}</div>
      <h2 class="text-center">Log In</h2>
      <div class="form-group">
          <input type="text" name="email" [(ngModel)]="user.email" class="form-control" placeholder="Username" required="required">
      </div>

      <div class="form-group">
          <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" required="required">
      </div>

      <div class="form-group">
        <button (click)="onLogin()" class="btn btn-primary btn-block">Log In</button>
      </div>

  </form>

   <!--<p class="text-center small" (click)="onRegistration()"> Don't have an account! Register here</p>-->
   <p class="text-center" [routerLink]="['/registration']"> Don't have an account! Register here</p>
</div>
