<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/home">Handcraft Market</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/admin-panel" class="nav-link">Dashboard</a></li>
           <li><a routerLink="/admin-product-list" class="nav-link">Products</a></li>
    <li ><a routerLink="/supplier-list" class="nav-link">Supplier</a></li>
    <li ><a routerLink="/admin-reminder" class="nav-link">Reminder</a></li>
    <li><a routerLink="/login" class="nav-link">Logout</a></li>

      </ul>
  </div>
</nav>

<div class="container-bg">

  <div class="row">
  
    <div class="col-md-3">
    <div class="container-img">
      <div class="content">
        <h1>Promoting Ecofriendly Choice</h1>
        <p style="font-size: 16px;"> 
          Creating awareness for craft is inextricably linked with promoting ecological choices.
        The Indian crafts practitioner is perhaps the greatest conservationist who strives to live in harmony with his environment </p>
      </div>
    </div>
  </div>


<div class="col-md-9">
<div class="container-fluid" style="margin-top: 20px;">

  <div class="row">
  
    <div class="col-md-3">
    <div class="info info-orange">
      <div class="header">Users</div>
      <span>{{userCount}}</span>
      <img src="assets/images/user.png" alt="">
  </div>
  </div>

  <div class="col-md-3">
    <div class="info info-green">
      <div class="header">Products</div>
      <span>{{productCount}}</span>
      <img src="assets/images/product.png" alt="">
    </div> 
  </div>

  <div class="col-md-3">
    <div class="info info-brown">
      <div class="header">Suppliers</div>
      <span>{{supplierCount}}</span>
      <img src="assets/images/user.png" alt="">
  </div>
  </div>

</div>
</div>

<div class="container-fluid" style="margin-top: 20px;">
  <div class="jumbotron" style="background-color:peachpuff;">
    <h2>Welcome ADMIN</h2>      
    <p>Celebrate a Heritage</p>
  </div>
</div>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-3">
        <img src="assets/images/Paithani_mh.jpg" style="width: 100%; height: 200px " alt="">
        <h3 style="color: white;">Maharashtra</h3>
    </div>
    <div class="col-md-3">
      <img src="assets/images/puppets_of_rajasthan.jpg" style="width: 100%; height: 200px " alt="">
      <h3 style="color: white;">Rajastan</h3>
    </div>
    <div class="col-md-3">
      <img src="assets/images/kitly.jpg" style="width: 100%;  height: 200px" alt="">
      <h3 style="color: white;">Bengal</h3>
    </div>
    <div class="col-md-3">
      <img src="assets/images/coconutshell_keral.jpg" style="width: 100%; height: 200px " alt="">
      <h3 style="color: white;">Keral</h3>
    </div>
</div>
</div>
</div>

</div>
<div class="container-fluid" >
  <div class="jumbotron" id="copy">
    <div class="row">
     
      <div class="col-md-6">
        <h2 style="font-style: italic;">TIMELESS, UNIQUE <br>INDIAN CRAFT</h2>
      </div>
     
      <div class="col-md-6">
        <p style="margin-right: 30px;">A Social enterprise committed to creating a global, fair platform featuring a wide range of Indian Craft and supporting artisans across the country.</p>
      </div>
      
    </div>
  
</div>
</div>